<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

  <!--mat-form-field appearance="fill"-->
  <mat-form-field>
    <mat-label>Nome da secretaria</mat-label>
    <input name="nome" [(ngModel)]="secretaria.nome" matInput required
      placeholder="Informe o nome do secretaria">
  </mat-form-field>

  <mat-form-field>
    <mat-label>CPF da secretaria</mat-label>
    <input name="cpf" [(ngModel)]="secretaria.cpf" matInput required
      placeholder="Informe o cpf da secretaria" type="number">
  </mat-form-field>

  
  <mat-form-field>
    <mat-label>CPF da secretaria</mat-label>
    <input name="cpf" [(ngModel)]="secretaria.cpf" matInput required
      placeholder="Informe o cpf do secretaria">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Telefone da secretaria</mat-label>
    <input name="telefone" [(ngModel)]="secretaria.telefone" matInput required
      placeholder="Informe o telefone da secretaria" type="number">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email da secretaria</mat-label>
    <input name="email" [(ngModel)]="secretaria.email" matInput required
      placeholder="Informe o email da secretaria">
  </mat-form-field>

  <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

</form>