<h1>{{ title}}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

<!--<mat-form-field appearance="fill">-->
    <mat-form-field>
    <mat-label>Nome do dentista</mat-label>
    <input name="nome" [(ngModel)]="dentista.nome" matInput required
    placeholder="Informe o nome do dentista" >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Cpf</mat-label>
    <input name="cpf" [(ngModel)]="dentista.cpf" matInput required 
    placeholder="Informe o cpf" type="number">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Formação</mat-label>
    <input name="formacao" [(ngModel)]="dentista.formacao" matInput required
    placeholder="Informe a formacao" >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Telefone</mat-label>
    <input name="telefone" [(ngModel)]="dentista.telefone" matInput required 
    placeholder="Informe o telefone" type="number">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input name="email" [(ngModel)]="dentista.email" matInput required
    placeholder="Informe o email" >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Endereço</mat-label>
    <input name="endereco" [(ngModel)]="dentista.endereco" matInput required
    placeholder="Informe o endereço" >
  </mat-form-field>

<!--
    <mat-form-field >
    <mat-label>Secretária</mat-label>
    <mat-select name="secretaria"[(ngModel)]="veterinario.secretaria" required>
      <mat-option value="Básico">Básico</mat-option>
      <mat-option value="Intermediário">Intermediário</mat-option>
      <mat-option value="Avançado">Avançado</mat-option>
      <mat-option *ngFor = "let secretaria of secretarias" [value]="secretaria.valor">
      {{ secretaria.descr }}
      </mat-option>
    </mat-select>
  </mat-form-field>
-->

  <mat-form-field>
    <mat-label>Secretaria</mat-label>
      <mat-select name="secretaria" [(ngModel)]="dentista.secretaria" required multiple>
        <mat-option *ngFor="let secretaria of secretarias" [value]="secretaria._id">
          {{ secretaria.nome }}
        </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

</form> 