<button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
   <!--<a [routerLink]="['/curso']" mat-menu-item>Curso</a>-->
   <!--<a [routerLink]="['/turma']" mat-menu-item>Turma</a>-->
   <a [routerLink]="['/cliente']" mat-menu-item>Cliente</a>
   <!--<a [routerLink]="['/animal']" mat-menu-item>Animal</a>-->
   <!--<a [routerLink]="['/raca']" mat-menu-item>Raca</a>-->
   <!--<a [routerLink]="['/especiel']" mat-menu-item>Especie</a>-->
   <a [routerLink]="['/secretaria']" mat-menu-item>Secretaria</a>
   <a [routerLink]="['/dentista']" mat-menu-item>Dentista</a>
   <a [routerLink]="['/consulta']" mat-menu-item>Consulta</a>
</mat-menu>