<p>consulta-form works!</p>
<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

  <!--mat-form-field appearance="fill"-->
  <mat-form-field>
    <mat-label>Nome do consulta</mat-label>
    <input name="nome" [(ngModel)]="consulta.nome" matInput required
      placeholder="Informe o nome do consulta">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Carga horária</mat-label>
    <input name="carga_horaria" [(ngModel)]="consulta.carga_horaria" matInput required
      placeholder="Informe a carga horária" type="number">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nível</mat-label>
    <mat-select name="nivel" [(ngModel)]="consulta.nivel" required>
      <!--mat-option value="Básico">Básico</mat-option>
      <mat-option value="Intermediário">Intermediário</mat-option>
      <mat-option value="Avançado">Avançado</mat-option-->
      <mat-option *ngFor="let nivel of niveis" [value]="nivel.valor">
        {{ nivel.descr }}
      </mat-option>
    </mat-select>
  </mat-form-field>  

  <mat-form-field>
    <mat-label>Valor do consulta</mat-label>
    <input name="valor_consulta" [(ngModel)]="consulta.valor_consulta" matInput required
      placeholder="Informe o valor do consulta" type="number">
  </mat-form-field>

  <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

</form>